.header_nav {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.header_nav li {
    margin-right: 30px;
    list-style: none;
}

.header_left {
    margin-left: auto;
}

.header_right {
    margin-right: auto;
}


.error {
    color: red;
}

.success {
    color: green;
}
