/* default */
.body {
    max-width: 1200px;
}

.error {
    color: red;
}

.success {
    color: green;
}



/* logged_in */
.content_center {
    margin: auto;
}

.header_nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header_nav li {
    margin-right: 30px;
    list-style: none;
}

.header_left {
    margin-left: auto;
}

.header_right {
    margin-right: auto;
}



